<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Travel Tales</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/static/base.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Travel Tales</h1>
            <h3>Tell us about your favorite travel destination!</h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form id="newPost">
              <input class="form-control" type="text" name="body">
              <input class="btn btn-primary" type="submit" value="Post">
            </form> 
            <ul class="posts list-group">
              <% posts.forEach(function(post) { %>
              <li class="post list-group-item"><%= post.body %> <span data-id="<%= post._id %>" class='close delete'>Remove Post</span></li>
              <%}); %>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>









